<!-- NAVBAR START -->
<nav class="navbar" id="header-area">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo-area" href="#"><span style="color:#000000;"><img class="logo"
                        src="image/logo3.png" alt="" title="RD-JENNY"></span></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar" style="color: darkgreen;background-color: #ffffff;"></span>
                <span class="icon-bar" style="color: darkgreen;background-color: #ffffff;"></span>
                <span class="icon-bar" style="color: darkgreen;background-color: #ffffff;"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!---menu item start-->
                <li><a href="#HOME">HOME</a></li>
                <li><a href="#PROFILE">PROFILE</a></li>
                <li><a href="#RESUME">RESUME</a></li>
                <li><a href="#SERVICES">SERVICES</a></li>
                <li><a href="#PORTFOLIO">PORTFOLIO</a></li>
                <li><a href="#CONTACT">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->