<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title -->
    <title>Yolo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />
    <!-- Styles -->
    <link rel="stylesheet" href="css/skillbars.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <!-- PRELOADING START -->
    <div id="preload">
        <div class="preload">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- PRELOADING END -->

    {{>navigation}}

    <!-- HOME AREA START -->
    <div class="home-area wow fadeIn" data-wow-duration="1s" style=" background-image: url(image/background.png);" id="HOME">
        <div id="home-partical"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="home-text">
                    <div id="typed-strings">
                        <p>Hi i am Rahul </p>
                        <p>I am a freelance photographer</p>
                        <p> I live in london </p>
                        <p> I love Nature Photography </p>
                    </div>
                    <span id="typed"></span>
                    <div class="vl wow zoomIn" data-wow-duration="1s" data-wow-delay="2s"></div>
                    <p><span class="text-name wow flash" data-wow-duration="2s" data-wow-delay="2s"> <strong>EVERY
                                MORNING WHEN I WAKE UP All I NEED IS MY CAMERA</strong> </span></p> <br>
                    <!--BUTTON -->
                    <a class="button button-small button-line-dark" href="image/logo3.png" download><strong>DOWNLOAD
                            CV</strong> </a>
                </div>
            </div>
        </div>
    </div>
    <!--HOME AREA END -->

    <!--PROFILE AREA -->
    <div class="profile-area" id="PROFILE">
        <div class="container">
            <div class="headline">
                <h1>PROFILE</h1>
            </div>
            <div class="row">
                <div class="col-md-7 ">
                    <div class="user-name">
                        <h2>Rahul Das</h2>
                    </div>
                    <div class="user-job">
                        <p><strong>Photographer</strong></p>
                    </div>
                    <hr class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="user-about">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here'</p>
                    </div>
                    <div class="profile-icon">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook wow fadeInUp"></i><span
                                                class="i-text wow fadeInUp"> facebook/page_name</span></a> </li>
                                    <li><a href="#"><i class="fa fa-instagram wow fadeInUp"></i><span
                                                class="i-text wow fadeInUp"> facebook/page_name </span> </a> </li>
                                    <li><a href="#"><i class="fa fa-pinterest wow fadeInUp"></i><span
                                                class="i-text wow fadeInUp"> facebook/page_name</span> </a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 ">
                                <ul>
                                    <li><a href="#"><i class="fa fa-youtube wow fadeInUp"></i><span
                                                class="i-text wow fadeInUp"> facebook/page_name</span></a> </li>
                                    <li><a href="#"><i class="fa fa-twitter wow fadeInUp"></i> <span
                                                class="i-text wow fadeInUp"> facebook/page_name</span></a> </li>
                                    <li><a href="#"><i class="fa fa-google-plus wow fadeInUp"></i><span
                                                class="i-text wow fadeInUp"> facebook/page_name</span></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-2">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <!--BUTTON CONTEXT ME-->
                                <a class="button button2-small button2-line-dark" href="#CONTACT"><strong>CONTACT
                                        ME</strong> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <img src="image/profile-pic.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--PROFILE AREA END -->

    <!--HOBBY AREA START-->
    <div class="hobby-area">
        <div class="container">
            <div class="headline">
                <h2>HOBBIES AND INTEREST</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="hobby-box wow zoomIn">
                        <i class="fa fa-camera"></i>
                        <p>Photography</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="hobby-box wow zoomIn">
                        <i class="fa fa-futbol-o"></i>
                        <p>Football</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="hobby-box wow zoomIn">
                        <i class="fa fa-music"></i>
                        <p>Music</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="hobby-box wow zoomIn">
                        <i class="fa fa-paint-brush"></i>
                        <p>Painting</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--HOBBY AREA END-->

    <!--RESUME AREA START -->
    <div class="resume-area" id="RESUME">
        <div class="container">
            <div class="headline">
                <h1>RESUME</h1>
            </div>
            <div class="sub-section">
                <h3 class="section-title text-center">Employment</h3>
                <div class="resume-details">
                    <div class="row">
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box wow fadeIn">
                                    2018
                                    <div class="box-sub-title">
                                        PHOTOGRAPHY
                                    </div>
                                    (LOREM TEXT)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>LOREM TEXT</h3>
                                    <ul class="description">
                                        <li>There are many variations of passages of Lorem Ipsum</li>
                                        <li>There are many variations of passages of Lorem Ipsum</li>
                                        <li>middle of text. All the Lorem Ipsum generators on the </li>
                                        <li>middle of text generators on the </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box wow fadeIn">
                                    2016 - 2017
                                    <div class="box-sub-title">
                                        PHOTOGRAPHY
                                    </div>
                                    (LOREM TEXT)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>JOB POST</h3>
                                    <ul class="description">
                                        <li>the more obscure Latin words, consectetur, from a Lorem Ipsum </li>
                                        <li>the more obscure Latin words, consectetur, from a</li>
                                        <li>the more obscure Latin words, consectet</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box wow fadeIn">
                                    2014 - 2016
                                    <div class="box-sub-title">
                                        PHOTOGRAPHY
                                    </div>
                                    (LOREM TEXT)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>JOB POST</h3>
                                    <ul class="description">
                                        <li>the more obscure Latin words, consectetur, from a Lorem Ipsum </li>
                                        <li>the more obscurconsectetur, from a Lorem Ipsum </li>
                                        <li>the more obscure Latin words, consectetur, from a Lorem Ipsum </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box wow fadeIn">
                                    2010 - 2014
                                    <div class="box-sub-title">
                                        PHOTOGRAPHY
                                    </div>
                                    (LOREM TEXT)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>JOB POST</h3>
                                    <ul class="description">
                                        <li>the more obscure Latin words, consectetur, from a Lorem Ipsum </li>
                                        <li>the more obscure Latin words, consectetur, from a L</li>
                                        <li>the more obscure Latin words, consectetur, from a Lorem Ipsum </li>
                                        <li>the more obscure Latin words, coLorem Ipsum .</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-section2">
                <h3 class="section-title text-center">EDUCATION</h3>
                <div class="resume-details">
                    <div class="row">
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box v">
                                    2010 - 2015
                                    <div class="box-sub-title">
                                        COLLAGE
                                    </div>
                                    (COLLAGE NAME)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>LOREM TEXT</h3>
                                    <p class="description">the more obscure Latin words, consectetur, from a Lorem Ipsum
                                        <br>
                                        the more obscure Latin words, consectetur, from a Lorem Ipsum </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box wow fadeIn">
                                    2016 - 2017
                                    <div class="box-sub-title">
                                        SCHOOL
                                    </div>
                                    (SCHOOL NAME)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>LOREM TEXT</h3>
                                    <p class="description">the more obscure Latin words, consectetur, from a Lorem Ipsum
                                        <br>
                                        Aenean ultrices risus </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box wow fadeIn">
                                    2014 - 2016
                                    <div class="box-sub-title">
                                        SCHOOL
                                    </div>
                                    (SCHOOL NAME)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>LOREM TREXT</h3>
                                    <p class="description">more obscure Latin words, consectetur,.<br>
                                        Aenean ultrices risus fermentum risus mollis varius.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <div class="box wow fadeIn">
                                    2010 - 2014
                                    <div class="box-sub-title">
                                        SCHOOL
                                    </div>
                                    (SCHOOL NAME)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box_dec wow fadeIn">
                                    <h3>LOREM TEXT</h3>
                                    <p class="description">Curabitur consequat velit.<br>
                                        Aenean ultrices risus fermentum risus mollis varius.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--RESUME AREA END -->

    <!--SERVICES AREA START -->
    <div class="services-area" id="SERVICES">
        <div class="container">
            <div class="headline">
                <h1>SERVICES</h1>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="services-box wow zoomIn">
                        <i class="fa fa-pagelines"></i>
                        <h2>Nature Photography</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere abore architecto!</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="services-box wow zoomIn">
                        <i class="fa fa-heart"></i>
                        <h2>Weding Photography</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere abore architecto!</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="services-box wow zoomIn">
                        <i class="fa fa-paw"></i>
                        <h2>Wildlife Photography</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere abore architecto!</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="services-box wow zoomIn">
                        <i class="fa fa-birthday-cake"></i>
                        <h2>Birthday Photography</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere abore architecto!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SERVICES AREA END -->

    <!--SKILL AREA START -->
    <div class="skill-area">
        <div class="container">
            <h3>MY SKILL</h3>
            <ul id="skillbar-area4">
                <li data-level="78">
                    Study
                </li>
                <li data-level="71">
                    <strong> Sports</strong>
                </li>
                <li data-level="92">
                    <strong> Photography</strong>
                </li>
            </ul>
        </div>
    </div>
    <!--SKILL AREA END -->

    <!--PORTFOLIO AREA START -->
    <div class="portfolio-area" id="PORTFOLIO">
        <div class="container-fluid">
            <div class="headline">
                <h1>PORTFOLIO</h1>
            </div>
            <div class="portfolio-filter text-center">
                <ul>
                    <li class="active" data-filter="*">ALL</li>
                    <li data-filter=".nature">NATURE</li>
                    <li data-filter=".wildlife">WILD LIFE</li>
                    <li data-filter=".model">MODEL</li>
                </ul>
            </div>
            <div class="grid">
                <!--IMAGE EFFECT 1n -->
                <div class="col-md-3 col-sm-6 element-item wildlife gallery wow fadeIn">
                    <a href="image/g1.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g1.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END -->
                <!--IMAGE EFFECT 2n-->
                <div class="col-md-3 col-sm-6 element-item nature gallery wow fadeIn">
                    <a href="image/g2.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g2.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END -->
                <!--IMAGE EFFECT 3n-->
                <div class="col-md-3 col-sm-6 element-item nature gallery wow fadeIn">
                    <a href="image/g2.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g2.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END 4n-->
                <!--IMAGE EFFECT -->
                <div class="col-md-3 col-sm-6 element-item wildlife gallery wow fadeIn">
                    <a href="image/g1.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g1.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END -->
                <!--IMAGE EFFECT 1w-->
                <div class="col-md-3 col-sm-6 element-item model gallery wow fadeIn">
                    <a href="image/g1.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g1.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END -->
                <!--IMAGE EFFECT 2w-->
                <div class="col-md-3 col-sm-6 element-item wildlife gallery wow fadeIn">
                    <a href="image/g1.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g1.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END -->
                <!--IMAGE EFFECT 3w-->
                <div class="col-md-3 col-sm-6 element-item nature gallery wow fadeIn">
                    <a href="image/g1.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g1.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END -->
                <!--IMAGE EFFECT 4w-->
                <div class="col-md-3 col-sm-6 element-item wildlife gallery wow fadeIn">
                    <a href="image/g2.jpg" data-fancybox="images" data-caption="My caption"><img src="image/g2.jpg"
                            alt="" />
                        <!--overlay-->
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <!--IMAGE EFFECT END -->
            </div>
            <!--GRID DIV -->
        </div>
    </div>
    <!--PORTFOLIO AREA END -->

    <!--CASTOMER-REVIEW START-->
    <div class="costomer-area">
        <div class="castomer-review" style="background-image: url(image/background.png);">
            <div id="testimonial4"
                class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
                data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
                <div class="testimonial4_header">
                    <h4>WHAT PEOPLE SAY</h4>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#testimonial4" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial4" data-slide-to="1"></li>
                    <li data-target="#testimonial4" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="testimonial4_slide">
                            <img src="image/f1.jpg" class="img-circle img-responsive" alt="" />
                            <p>Lorem ipsum dolor sit amet adipiscing elit am nibh unc varius facilisis eros ed erat in
                                in velit quis arcu ornare laoreet urabitur.</p>
                            <h4>Rayan Hooda</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial4_slide">
                            <img src="image/f2.jpg" class="img-circle img-responsive" alt="" />
                            <p>Lorem ipsum dolor sit amet adipiscing elit am nibh unc varius facilisis eros ed erat in
                                in velit quis arcu ornare laoreet urabitur.</p>
                            <h4>Debjyoti Das</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial4_slide">
                            <img src="image/f3.jpg" class="img-circle img-responsive" alt="" />
                            <p>Lorem ipsum dolor sit amet adipiscing elit am nibh unc varius facilisis eros ed erat in
                                in velit quis arcu ornare laoreet urabitur.</p>
                            <h4>Teema Hanna</h4>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#testimonial4" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#testimonial4" role="button" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!--CSTOMER-REVIEW END -->

    <!--CONTACT AREA START -->
    <div class="contact-area" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2><span class="contact-head">CONTACT ME</span></h2>
                    <ul>
                        <li><i class="fa fa-home wow fadeInUp"></i><span class="c-text wow fadeInUp"><strong>Address
                                    :</strong> 27 Old Gloucester St, London WC1N 3AX, UK</span> </li>
                        <li><i class="fa fa-building wow fadeInUp"></i><span class="c-text wow fadeInUp"><strong>Office
                                    :</strong> Gloucester St, London WC1N 3AX, UK</span> </li>
                        <li><i class="fa fa-map-marker wow fadeInUp"></i><span
                                class="c-text wow fadeInUp"><strong>Current city :</strong> London</span> </li>
                        <li><i class="fa fa-mobile wow fadeInUp"></i><span class="c-text wow fadeInUp">
                                +98764343034</span> </li>
                        <li><i class="fa fa-phone wow fadeInUp"></i><span class="c-text wow fadeInUp"> 2301-2455</span>
                        </li>
                        <li><i class="fa fa-skype wow fadeInUp"></i><span class="c-text wow fadeInUp">iamskype </span>
                        </li>
                        <li><i class="fa fa-envelope wow fadeInUp"></i><span class="c-text wow fadeInUp">
                                iamraj1@gmail.com</span> </li>
                        <li><i class="fa fa-whatsapp wow fadeInUp"></i><span class="c-text wow fadeInUp">
                                +7803859684</span> </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <h3>SEND ME EMAIL</h3>
                        <form>
                            <div class="form-group wow fadeInUp">
                                <label for="exampleFormControlInput1">YOUR NAME</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name"
                                    required>
                            </div>
                            <div class="form-group wow fadeInUp">
                                <label for="exampleFormControlInput1">EMAIL ID</label>
                                <input type="email" class="form-control" id="exampleFormControlInput2"
                                    placeholder="Email" required>
                            </div>
                            <div class="form-group wow fadeInUp">
                                <label for="exampleFormControlInput1">SUBJECT</label>
                                <input type="text" class="form-control" id="exampleFormControlInput3"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group wow fadeInUp">
                                <label for="exampleFormControlTextarea1">MASSAGE</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                    placeholder="Message" required></textarea>
                            </div>
                            <button type="submit" class="button button-small button-line-dark">SUBMIT</button>
                            <!--BUTTON -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--CONTACT-AREA END -->

    <!--SCROLL TOP START -->
    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <!--SCROLL TOP END -->

    {{>navigation}}

    <!--JS CODE-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/skillbars.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/scrolltop.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <!--JS CODE END -->

    <!-- GOOGLE ANALYTICS START -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-XXXXXXX-XX', 'yourdomain.com');
        ga('send', 'pageview');
    </script>
    <!-- GOOGLE ANALYTICS END -->

</body>

</html>